.footer {
    background-color: #F5F5FA;
    text-align: center;
    &__menu {
        border-top: 4px solid #E6E6F0;
        padding-top: 20px;
        padding-bottom: 120px;
        &-adress-p {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #323264;
            padding-bottom: 10px;
        }
        &-adress-link {
            text-decoration: none;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #24A3FF;
            text-transform: uppercase;
            &:hover {
                color: #F0145A;
            }
            
        }
        &-contacts-svg {
            margin-bottom: 20px;
        }
        &-contacts-svg:hover path {
                fill: #F0145A;
        }
        
        &-contacts-phone {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #46466E;
            margin-bottom: 20px;
            &:hover {
                color: #F0145A;
            }
            
        }
        &-contacts-email {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #24A3FF;
            margin-bottom: 20px;
            &:hover {
                color: #F0145A;
            }
        }
        &-rights-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #B3B3BA;
            max-width: 335px;
            margin: 0 auto;
        }
        &-contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
    }
}

@media (min-width: 767px) {
    .footer__menu-adress {
        display: flex;
        justify-content: center;
        align-items: center;
        &-p {
            padding-bottom: 0;
            padding-right: 25px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #B3B3BA;
                right: 10px;
                top: 6px;
            }
        }
    }

    .footer__menu-contacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-phone {
            padding: 0 25px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #B3B3BA;
                right: 10px;
                top: 7px;
            }
            &::after {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #B3B3BA;
                left: 9px;
                top: 7px;
            }
        }
    }

    .footer__menu-rights-text {
        max-width: 100%;
    }
}

@media (min-width: 991px) {
    .footer__menu {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
}