.header__mobile-menu {
    display: none;
    background-color: var(--white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    &-items {
        background: var(--white4);
        &-link {
            text-decoration: none;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: var(--blue);
            padding-top: 11px;
            padding-bottom: 15px;
            display: block;
            border: 1px solid var(--white);
            &.active-link {
                background: var(--white3);
            }
            &:hover {
                color: var(--red);
                background: var(--white3);
            }
        }
        &-block {
            background-color: var(--white);
            background-image: url(../img/alternative-menu-logo.png);
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            &-btn {
                background-color: transparent;
                border: none;
                cursor: pointer;
                &.active-btn {
                    background: var(--white3);
                    border-radius: 12px;
                    height: 33px;
                }
                &:hover .header__mobile-menu-items-block-btn-svg path {
                    stroke: var(--black);
                }
            }  
        }
    }
}


@media (min-width: 767px) {
    .header__mobile-menu {
        display: none;
    }
}