.main-about-white {
    padding-top: 20px;
    &-top {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        row-gap: 20px;
        &-block-1-h2 {
            font-size: 32px;
            line-height: 38px;
            color: #F0145A;
            padding-bottom: 20px;
        }
        &-block-1-p {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
        }
        &-block-2 {
            border-top: 4px solid #E6E6F0;
            padding-top: 15px;
            &-item {
                margin-bottom: 40px;
            }
        }

        &-block-2-item-1 {
            display: flex;
            align-items: center;
            &-p {
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                color: #F0145A;
                margin-left: 6px;
                font-weight: 700;
            }
        }
        &-block-2-item-p {
            font-size: 18px;
            line-height: 21px;
            color: #323264;
        }
    }
}

@media (min-width: 767px) {
    .main-about-white-top {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 40px;
        &-block-2 {
            border-top: none;
            padding-top: 0;
            padding-left: 20px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 284px;
                background-color: #E6E6F0;
                left: 4px;
                top: 6px;
            }
        }
    }
}