.main__block-team-slider-block {
    background: var(--white4);
    border-radius: 12px;
    margin: 40px 0 15px;
    padding: 20px 0 20px 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    &-link {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        &-a {
            text-decoration: none;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: var(--blue);
            &:hover {
                color:var(--red);
            }
        }
        &:hover .main__block-team-slider-block-link-svg path {
            stroke: var(--red);
        }
        &:hover .main__block-team-slider-block-link-svg {
            transform: translateX(5px);
            transition-duration: 3s;
            
        }
    }
    &-text {
        grid-column: 1 / -1;
        &-p {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: var(--red);
        }
    }
    &-buttons {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    &-button {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--blue);
        opacity: 0.2;
        border: none;
        cursor: pointer;
        margin: 0 7px;
        &:hover {
            background: var(--blue);
            opacity: 1;
            transition-duration: 3s;
        }
        &.active {
            background: var(--blue);
            opacity: 1;
        } 
    }
    &-person {
        padding-top: 10px;
        &-img {
            max-width: 100%;
            height: 100%;
        }
        &-about {
            padding: 15px 0 0 10px;
            &-h3 {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: var(--grey);
            }
            &-p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: var(--grey);
            }
        }
    }
    
}

@media (min-width: 767px) {

    .main__block-team-slider-block {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr;
        column-gap: 40px;
        padding: 0;
    }

    .main__block-team-slider-block-link {
        grid-column: 2 / 3;
        margin-top: 40px;
    }

    .main__block-team-slider-block-text {
        grid-column: 2 / 3;
    }

    .main__block-team-slider-block-person-about {
        grid-column: 2 / 3;  
    }

    .main__block-team-slider-block-person {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        padding-top: 0;
        &-img-large {
            display: block;
            padding-top: 0;
            border-radius: 12px 0px 0px 12px;
            max-width: 100%;
        }
        &-img-little {
            display: none;
        }
        &-about {
            padding-left: 0;
        }
    }
}