.main__block-companies {
    padding-top: 100px;
    &-h2 {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--gradient);
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 30px;
    }
    &-examples {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &-list {
            width: 50%;
            &-img {
                display: block;
                margin: 0 auto;
                object-fit: cover;
                max-width: 100%;
                &-large {
                    display: none;
                    margin: 0 auto;
                }
            }
            &-block-1 {
                background-color: var(--blockbackground1);
            }
            &-block-2 {
                background-color: var(--blockbackground2);
            }
            &-block-3 {
                background-color: var(--blockbackground3);
            }
            &-block-4 {
                background-color: var(--blockbackground4);
            }
            &-block-5 {
                background-color: var(--blockbackground5);
            }
            &-block-6 {
                background-color: var(--blockbackground6);
            }
            &-block-7 {
                background-color: var(--blockbackground7);
            }
            &-block-8 {
                background-color: var(--blockbackground8);
            }
            &-block-9 {
                background-color: var(--blockbackground9);
            }
            &-block-10 {
                background-color: var(--blockbackground10);
            }
            &-block-11 {
                background-color: var(--blockbackground11);
            }
            &-block-12 {
                background-color: var(--blockbackground12);
            }
        }
    }
}

@media (min-width: 767px) {
    .main__block-companies-examples-list {
        width: 33.333%;
    }
}

@media (min-width: 991px) {
    .main__block-companies-examples-list {
        width: 25%;
    }
}