.main__block-background-color {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-bottom: 20px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background: #CACADB;
        width: calc(100% - 40px);
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        bottom: -10px;
        left: 20px;
    }
    &::before {
        content: "";
        position: absolute;
        background: #E7E7F2;
        width: calc(100% - 80px);
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        bottom: -20px;
        left: 40px;
    }
}