.main__block-background-color {
    background: linear-gradient(228.57deg, var(--gradient) 11.93%, var(--gradient) 57.17%, var(--gradient2) 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background: var(--grey2);
        width: calc(100% - 40px);
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        bottom: -10px;
        left: 20px;
    }
    &::before {
        content: "";
        position: absolute;
        background: var(--white5);
        width: calc(100% - 80px);
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        bottom: -20px;
        left: 40px;
    }
}

@media (min-width: 767px) {
    .main__block-background-color {
        padding-bottom: 20px;
    }
}