.main__block-slider {
    padding-top: 44px;
    &-h2 {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--red);
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    &-h3 {
        font-size: 22px;
        line-height: 26px;
        color: var(--white);
        padding-bottom: 15px;
        font-weight: 500;
    }
    &-p {
        font-size: 18px;
        line-height: 26px;
        color: var(--white);
        padding-bottom: 20px;
        font-weight: 400;
    }
    &-buttons {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    &-button {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--blue);
        opacity: 0.2;
        border: none;
        cursor: pointer;
        margin: 0 7px;
        &:hover {
            background: var(--blue);
            opacity: 1;
        }
        &.active {
            background: var(--blue);
            opacity: 1;
        } 
    }
    &-large {
        display: none;
        grid-template-columns: 570px 1fr;
        grid-template-rows: 1fr;
        padding-top: 26px;
        &-links-block {
            display: flex;
            flex-direction: column;
            border-right: 4px solid var(--white2);
        }
        &-link {
            text-decoration: none;
            font-size: 42px;
            line-height: 50px;
            text-align: right;
            color: var(--grey);
            font-weight: 700;
            margin-bottom: 20px;
            margin-right: 40px;
            position: relative;
            &:last-child {
                margin-bottom: 0;
                &:hover::after {
                    height: 100px;
                }
            }
            &:hover {
                color: var(--red);
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 70px;
                    width: 4px;
                    background-color: var(--red);
                    right: -44px;
                    top: 0;
                }
            }
            &.selected-link {
                color: var(--red);
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 70px;
                    width: 4px;
                    background-color: var(--red);
                    right: -44px;
                    top: 0;
                }
            }
        }
        &-text {
            padding: 50px 0 48px 34px;
            &-h2 {
                font-size: 32px;
                line-height: 38px;
                color: var(--white);
            }
            &-p {
                font-size: 21px;
                line-height: 30px;
                color: var(--white);
                padding-top: 20px;
                max-width: 590px;
            }
        }
    }   
}



@media (min-width: 991px) {
    .main__block-slider {
        display: none;
        &-large {
            display: grid;
        }
    }
}
