:root {
  --white: #FFFFFF;
  --white2: #E6E6F0;
  --white3: #EDEDF7;
  --white4: #F5F5FA;
  --white5: #E7E7F2;
  --grey: #B3B3BA;
  --grey2: #CACADB;
  --red: #F0145A;
  --darkblue: rgba(50, 50, 100, 0.5);
  --darkblue2: rgba(50, 50, 100, 0.9);
  --darkblue3: #686887;
  --darkblue4: rgba(36, 163, 255, 0.5);
  --darkblue5: #46466E;
  --black: #000000;
  --blue: #24A3FF;
  --blue2: #0085FF;
  --gradient: #323264;
  --gradient2: #643E72;
  --blockbackground1: #1C4280;
  --blockbackground2: #143646;
  --blockbackground3: #F48B30;
  --blockbackground4: #9E4DC3;
  --blockbackground5: #FD9339;
  --blockbackground6: #E2E2E4;
  --blockbackground7: #C71C36;
  --blockbackground8: #DCF3F9;
  --blockbackground9: #EAEAEA;
  --blockbackground10: #282240;
  --blockbackground11: #1D4568;
  --blockbackground12:#000000;
}

@font-face {
  font-family: 'tt-norms';
  src: url("../fonts/ttnorms-bold-webfont.woff2") format("woff2"), url("../fonts/ttnorms-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'tt-norms';
  src: url("../fonts/ttnorms-medium-webfont.woff2") format("woff2"), url("../fonts/ttnorms-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'tt-norms';
  src: url("../fonts/ttnorms-regular-webfont.woff2") format("woff2"), url("../fonts/ttnorms-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'tt-norms', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 375px;
}

.container {
  max-width: 1320px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.header {
  padding-top: 20px;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.header__top {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.header__top-content {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-language-btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  width: 29px;
  height: 24px;
  color: var(--grey);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__top-language-btn.active-btn {
  background: var(--red);
  border-radius: 8px;
  color: var --white;
}

.header__top-language-btn.active-btn:hover {
  background: var(--red);
  border-radius: 8px;
  color: var(--white);
}

.header__top-language-btn:hover {
  background: var(--white3);
  border-radius: 8px;
  width: 29px;
  height: 24px;
}

.header__top-phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: var(--grey);
  cursor: pointer;
}

.header__top-phone:hover {
  color: var(--red);
}

.header__top-img {
  width: 78px;
  height: 31px;
}

.header__top-hamburger-img {
  display: block;
  margin-left: auto;
}

.header__top-hamburger-img path {
  stroke: var(--white);
}

.header__top-adress-block {
  display: none;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--grey);
}

.header__top-adress-block::after {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background: var(--white2);
  border-radius: 50%;
  top: 7px;
  left: -20px;
}

.header__top-adress-block::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background: var(--white2);
  border-radius: 50%;
  top: 7px;
  right: 10px;
}

.header__top-link-fb-block {
  display: none;
}

.header__top-link-fb-block:hover path {
  fill: var(--white);
}

.header__top-menu-block {
  display: none;
}

.header__top-menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  padding-right: 15px;
}

.header__top-menu-link.current-page {
  text-decoration: underline;
}

.header__top-menu-link:hover {
  color: var(--red);
}

.header__top-menu-link:last-child {
  padding-right: 0;
}

.header__top-link-block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-link-crumb {
  text-decoration: none;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: var(--white);
  padding-left: 12px;
}

.header__top-link-crumb-box {
  display: none;
}

.header__top-link-crumb-box::before {
  position: absolute;
  content: "";
  background: url(../img/slash-mobile.svg) no-repeat;
  width: 11px;
  height: 24px;
}

.header__top-link-crumb-box::after {
  position: absolute;
  content: "";
  background: url(../img/symbol-slash-mobile.svg) no-repeat;
  width: 21px;
  height: 25px;
}

@media (min-width: 767px) {
  .header__top {
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .header__top-hamburger-block {
    display: none;
  }
  .header__top-adress-block {
    display: block;
    padding-right: 30px;
    color: var(--white);
  }
  .header__top-link-fb-block {
    display: block;
  }
  .header__top-menu-block {
    display: block;
    grid-column: 1 / -1;
    align-self: flex-end;
  }
  .header__top-link-block-box {
    grid-column: 1 / -1;
  }
  .header__top-img {
    width: 155px;
    height: 62px;
  }
  .header__top-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__top-languages {
    padding-right: 30px;
  }
  .header__top-language-btn {
    color: var(--white);
  }
  .header__top-phone {
    color: var(--white);
  }
  .header__top-phone-block {
    padding-right: 30px;
    position: relative;
  }
  .header__top-phone-block::after {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background: var(--white2);
    border-radius: 50%;
    top: 7px;
    right: 11px;
  }
  .header__top-link-crumb {
    text-decoration: none;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    color: var(--white);
    padding-left: 15px;
  }
  .header__top-link-crumb-box {
    display: none;
  }
  .header__top-link-crumb-box::before {
    position: absolute;
    content: "";
    background: url(../img/slash.svg) no-repeat;
    width: 21px;
    height: 47px;
  }
  .header__top-link-crumb-box::after {
    position: absolute;
    content: "";
    background: url(../img/symbol-slash.svg) no-repeat;
    width: 41px;
    height: 49px;
  }
}

@media (min-width: 991px) {
  .header__top {
    grid-template-columns: -webkit-min-content 1fr auto;
    grid-template-columns: min-content 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 0;
  }
  .header__top-content {
    grid-column: 3 / -1;
  }
  .header__top-link-block-box {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }
  .header__top-menu-block {
    grid-column: 3 / -1;
    justify-self: flex-end;
  }
}

.header__mobile-menu {
  display: none;
  background-color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.header__mobile-menu-items {
  background: var(--white4);
}

.header__mobile-menu-items-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--blue);
  padding-top: 11px;
  padding-bottom: 15px;
  display: block;
  border: 1px solid var(--white);
}

.header__mobile-menu-items-link.active-link {
  background: var(--white3);
}

.header__mobile-menu-items-link:hover {
  color: var(--red);
  background: var(--white3);
}

.header__mobile-menu-items-block {
  background-color: var(--white);
  background-image: url(../img/alternative-menu-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__mobile-menu-items-block-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__mobile-menu-items-block-btn.active-btn {
  background: var(--white3);
  border-radius: 12px;
  height: 33px;
}

.header__mobile-menu-items-block-btn:hover .header__mobile-menu-items-block-btn-svg path {
  stroke: var(--black);
}

@media (min-width: 767px) {
  .header__mobile-menu {
    display: none;
  }
}

.header__bottom {
  background-image: url(../img/text-p.svg);
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-box-shadow: 0px -100px 20px -25px var(--darkblue2) inset;
          box-shadow: 0px -100px 20px -25px var(--darkblue2) inset;
  max-width: 375px;
  height: 436px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.header__bottom-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: var(--white);
  max-width: 374px;
  padding-top: 43px;
  margin: 0 auto;
}

.header__bottom-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--white);
  opacity: 0.5;
  position: absolute;
  padding-top: 15px;
  padding-left: 10px;
  bottom: 20px;
  left: 45%;
  position: absolute;
}

.header__bottom-btn:hover {
  background-color: var(--white);
}

.header__bottom-btn:hover .header__bottom-btn-svg path {
  stroke: var(--black);
}

.header__bottom-btn:hover .header__bottom-btn-svg {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

@media (min-width: 767px) {
  .header__bottom {
    background-image: url(../img/text-p-2.svg), url(../img/background-image.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 0px -200px 20px -25px var(--darkblue) inset;
            box-shadow: 0px -200px 20px -25px var(--darkblue) inset;
    max-width: 689px;
    height: 644px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .header__bottom-title {
    max-width: 450px;
    padding-top: 147px;
  }
  .header__bottom-btn {
    bottom: 76px;
  }
}

.main__block-background-color {
  background: linear-gradient(228.57deg, var(--gradient) 11.93%, var(--gradient) 57.17%, var(--gradient2) 87.46%);
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 20px;
  position: relative;
}

.main__block-background-color::after {
  content: "";
  position: absolute;
  background: var(--grey2);
  width: calc(100% - 40px);
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  bottom: -10px;
  left: 20px;
}

.main__block-background-color::before {
  content: "";
  position: absolute;
  background: var(--white5);
  width: calc(100% - 80px);
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  bottom: -20px;
  left: 40px;
}

.main__block-slider {
  padding-top: 44px;
}

.main__block-slider-h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--red);
  text-transform: uppercase;
  padding-bottom: 10px;
}

.main__block-slider-h3 {
  font-size: 22px;
  line-height: 26px;
  color: var(--white);
  padding-bottom: 15px;
  font-weight: 500;
}

.main__block-slider-p {
  font-size: 18px;
  line-height: 26px;
  color: var(--white);
  padding-bottom: 20px;
  font-weight: 400;
}

.main__block-slider-buttons {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__block-slider-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--blue);
  opacity: 0.2;
  border: none;
  cursor: pointer;
  margin: 0 7px;
}

.main__block-slider-button:hover {
  background: var(--blue);
  opacity: 1;
}

.main__block-slider-button.active {
  background: var(--blue);
  opacity: 1;
}

.main__block-slider-large {
  display: none;
  grid-template-columns: 570px 1fr;
  grid-template-rows: 1fr;
  padding-top: 26px;
}

.main__block-slider-large-links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 4px solid var(--white2);
}

.main__block-slider-large-link {
  text-decoration: none;
  font-size: 42px;
  line-height: 50px;
  text-align: right;
  color: var(--grey);
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 40px;
  position: relative;
}

.main__block-slider-large-link:last-child {
  margin-bottom: 0;
}

.main__block-slider-large-link:last-child:hover::after {
  height: 100px;
}

.main__block-slider-large-link:hover {
  color: var(--red);
}

.main__block-slider-large-link:hover::after {
  content: "";
  position: absolute;
  display: block;
  height: 70px;
  width: 4px;
  background-color: var(--red);
  right: -44px;
  top: 0;
}

.main__block-slider-large-link.selected-link {
  color: var(--red);
}

.main__block-slider-large-link.selected-link::after {
  content: "";
  position: absolute;
  display: block;
  height: 70px;
  width: 4px;
  background-color: var(--red);
  right: -44px;
  top: 0;
}

.main__block-slider-large-text {
  padding: 50px 0 48px 34px;
}

.main__block-slider-large-text-h2 {
  font-size: 32px;
  line-height: 38px;
  color: var(--white);
}

.main__block-slider-large-text-p {
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  padding-top: 20px;
  max-width: 590px;
}

@media (min-width: 991px) {
  .main__block-slider {
    display: none;
  }
  .main__block-slider-large {
    display: grid;
  }
}

.main__block-about {
  padding-top: 43px;
}

.main__block-about-title-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__block-about-title-link:hover .main__block-about-title-svg path {
  stroke: var(--red);
}

.main__block-about-title-link:hover .main__block-about-title-svg g {
  opacity: 1;
}

.main__block-about-title-link-a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.5;
  text-transform: uppercase;
  padding-right: 2px;
}

.main__block-about-title-link-a:hover {
  color: var(--red);
  opacity: 1;
}

.main__block-about-h2 {
  font-size: 32px;
  line-height: 38px;
  color: var(--red);
  padding-top: 5px;
}

.main__block-about-us {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 40px;
}

.main__block-about-us-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__block-about-us-block-1-a {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--blue);
  padding-left: 10px;
}

.main__block-about-us-block-1-a:hover {
  color: var(--red);
}

.main__block-about-us-block-2-p {
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  padding-top: 10px;
}

.main__block-about-slider-2 {
  padding-top: 40px;
}

@media (min-width: 767px) {
  .main__block-about-us {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .main__block-about-us-block-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__block-about-us-block-1-a {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 5px;
    max-width: 300px;
  }
  .main__block-about-us-block-2-p {
    max-width: 367px;
  }
  .main-block-about-h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }
}

@media (min-width: 991px) {
  .main__block-about-us {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.main__block-team-slider-block {
  background: var(--white4);
  border-radius: 12px;
  margin: 40px 0 15px;
  padding: 20px 0 20px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
}

.main__block-team-slider-block-link {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.main__block-team-slider-block-link-a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--blue);
}

.main__block-team-slider-block-link-a:hover {
  color: var(--red);
}

.main__block-team-slider-block-link:hover .main__block-team-slider-block-link-svg path {
  stroke: var(--red);
}

.main__block-team-slider-block-text {
  grid-column: 1 / -1;
}

.main__block-team-slider-block-text-p {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--red);
}

.main__block-team-slider-block-buttons {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__block-team-slider-block-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--blue);
  opacity: 0.2;
  border: none;
  cursor: pointer;
  margin: 0 7px;
}

.main__block-team-slider-block-button:hover {
  background: var(--blue);
  opacity: 1;
}

.main__block-team-slider-block-button.active {
  background: var(--blue);
  opacity: 1;
}

.main__block-team-slider-block-person {
  padding-top: 10px;
}

.main__block-team-slider-block-person-img {
  max-width: 100%;
  height: 100%;
}

.main__block-team-slider-block-person-about {
  padding: 15px 0 0 10px;
}

.main__block-team-slider-block-person-about-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey);
}

.main__block-team-slider-block-person-about-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--grey);
}

@media (min-width: 767px) {
  .main__block-team-slider-block {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    padding: 0;
  }
  .main__block-team-slider-block-link {
    grid-column: 2 / 3;
    margin-top: 40px;
  }
  .main__block-team-slider-block-text {
    grid-column: 2 / 3;
  }
  .main__block-team-slider-block-person-about {
    grid-column: 2 / 3;
  }
  .main__block-team-slider-block-person {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding-top: 0;
  }
  .main__block-team-slider-block-person-img-large {
    display: block;
    padding-top: 0;
    border-radius: 12px 0px 0px 12px;
    max-width: 100%;
  }
  .main__block-team-slider-block-person-img-little {
    display: none;
  }
  .main__block-team-slider-block-person-about {
    padding-left: 0;
  }
}

.main__block-examples {
  padding-top: 30px;
}

.main__block-examples-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main__block-examples-link {
  text-decoration: none;
  display: block;
  background: var(--white4);
  border: 1px solid var(--white);
  padding: 20px;
}

.main__block-examples-link:first-child {
  border-radius: 12px 12px 0px 0px;
}

.main__block-examples-link:last-child {
  border-radius: 0px 0px 12px 12px;
}

.main__block-examples-link:hover {
  background: var(--white3);
}

.main__block-examples-link-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--darkblue3);
}

.main__block-examples-link-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--grey);
  padding-top: 10px;
}

@media (min-width: 767px) {
  .main__block-examples-links {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .main__block-examples-link:first-child {
    border-radius: 12px 0px 0px 0px;
  }
  .main__block-examples-link:nth-child(2) {
    border-radius: 0px 12px 0px 0px;
  }
  .main__block-examples-link:nth-child(5) {
    border-radius: 0px 0px 0px 12px;
  }
  .main__block-examples-link:last-child {
    border-radius: 0px 0px 12px 0px;
  }
}

@media (min-width: 991px) {
  .main__block-examples-links {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main__block-examples-link:nth-child(2) {
    border-radius: 0px 0px 0px 0px;
  }
  .main__block-examples-link:nth-child(5) {
    border-radius: 0px 0px 0px 0px;
  }
  .main__block-examples-link:first-child {
    border-radius: 12px 0px 0px 0px;
  }
  .main__block-examples-link:nth-child(3) {
    border-radius: 0px 12px 0px 0px;
  }
  .main__block-examples-link:nth-child(4) {
    border-radius: 0px 0px 0px 12px;
  }
  .main__block-examples-link:last-child {
    border-radius: 0px 0px 12px 0px;
  }
}

.main__block-companies {
  padding-top: 100px;
}

.main__block-companies-h2 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--gradient);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.main__block-companies-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__block-companies-examples-list {
  width: 50%;
}

.main__block-companies-examples-list-img {
  display: block;
  margin: 0 auto;
}

.main__block-companies-examples-list-block-1 {
  background-color: var(--blockbackground1);
}

.main__block-companies-examples-list-block-2 {
  background-color: var(--blockbackground2);
}

.main__block-companies-examples-list-block-3 {
  background-color: var(--blockbackground3);
}

.main__block-companies-examples-list-block-4 {
  background-color: var(--blockbackground4);
}

.main__block-companies-examples-list-block-5 {
  background-color: var(--blockbackground5);
}

.main__block-companies-examples-list-block-6 {
  background-color: var(--blockbackground6);
}

.main__block-companies-examples-list-block-7 {
  background-color: var(--blockbackground7);
}

.main__block-companies-examples-list-block-8 {
  background-color: var(--blockbackground8);
}

.main__block-companies-examples-list-block-9 {
  background-color: var(--blockbackground9);
}

.main__block-companies-examples-list-block-10 {
  background-color: var(--blockbackground10);
}

.main__block-companies-examples-list-block-11 {
  background-color: var(--blockbackground11);
}

.main__block-companies-examples-list-block-12 {
  background-color: var(--blockbackground12);
}

@media (min-width: 767px) {
  .main__block-companies-examples-list {
    width: 33.333%;
  }
}

@media (min-width: 991px) {
  .main__block-companies-examples-list {
    width: 25%;
  }
}

.main__block-publications {
  padding-top: 21px;
  background: var(--white4);
}

.main__block-publications-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__block-publications-link-a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--blue);
}

.main__block-publications-link-a:hover {
  color: var(--red);
}

.main__block-publications-link:hover .main__block-publications-link-svg path {
  stroke: var(--red);
}

.main__block-publications-p {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--red);
}

.main__block-publications-examples {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
}

.main__block-publications-examples-sample {
  background: var(--white);
  border-radius: 8px;
}

.main__block-publications-examples-sample-1-img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}

.main__block-publications-examples-sample-2 {
  padding: 20px;
}

.main__block-publications-examples-sample-2-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--blue);
}

.main__block-publications-examples-sample-2-link:hover {
  color: var(--red);
}

.main__block-publications-examples-sample-2-p {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--grey);
  padding-top: 10px;
  text-transform: uppercase;
}

.main__block-publications-examples-sample-3 {
  padding: 0 20px 20px 20px;
  display: none;
}

.main__block-publications-examples-sample-3-p {
  border-top: 4px solid var(--white2);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  padding-top: 20px;
}

.main__block-publications-examples-sample-block-3, .main__block-publications-examples-sample-block-4, .main__block-publications-examples-sample-block-5, .main__block-publications-examples-sample-block-6 {
  display: none;
}

.main__block-publications-button {
  text-align: center;
}

.main__block-publications-btn {
  background: var(--blue);
  -webkit-box-shadow: 0px 0px 20px var(--darkblue4);
          box-shadow: 0px 0px 20px var(--darkblue4);
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--white);
  border: none;
  margin: 40px 0;
  padding: 17px 75px;
  cursor: pointer;
}

.main__block-publications-btn:hover {
  background: var(--blue2);
}

@media (min-width: 767px) {
  .main__block-publications-examples {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 40px;
  }
  .main__block-publications-examples-sample-3 {
    display: block;
  }
  .main__block-publications-examples-sample-block-3, .main__block-publications-examples-sample-block-4, .main__block-publications-examples-sample-block-5, .main__block-publications-examples-sample-block-6 {
    display: block;
  }
}

@media (min-width: 991px) {
  .main__block-publications-examples {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.footer {
  background-color: var(--white4);
  text-align: center;
}

.footer__menu {
  border-top: 4px solid var(--white2);
  padding-top: 20px;
  padding-bottom: 120px;
}

.footer__menu-adress-p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--gradient);
  padding-bottom: 10px;
}

.footer__menu-adress-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--blue);
  text-transform: uppercase;
}

.footer__menu-adress-link:hover {
  color: var(--red);
}

.footer__menu-contacts-svg {
  margin-bottom: 20px;
}

.footer__menu-contacts-svg:hover path {
  fill: var(--red);
}

.footer__menu-contacts-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--darkblue5);
  margin-bottom: 20px;
}

.footer__menu-contacts-phone:hover {
  color: var(--red);
}

.footer__menu-contacts-email {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--blue);
  margin-bottom: 20px;
}

.footer__menu-contacts-email:hover {
  color: var(--red);
}

.footer__menu-rights-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--grey);
  max-width: 335px;
  margin: 0 auto;
}

.footer__menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

@media (min-width: 767px) {
  .footer__menu-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__menu-adress-p {
    padding-bottom: 0;
    padding-right: 25px;
    position: relative;
  }
  .footer__menu-adress-p::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey);
    right: 10px;
    top: 6px;
  }
  .footer__menu-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__menu-contacts-phone {
    padding: 0 25px;
    position: relative;
  }
  .footer__menu-contacts-phone::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey);
    right: 10px;
    top: 7px;
  }
  .footer__menu-contacts-phone::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey);
    left: 9px;
    top: 7px;
  }
  .footer__menu-rights-text {
    max-width: 100%;
  }
}

@media (min-width: 991px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
