@font-face {
  font-family: 'tt-norms';
  src: url("../fonts/ttnorms-bold-webfont.woff2") format("woff2"), url("../fonts/ttnorms-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'tt-norms';
  src: url("../fonts/ttnorms-medium-webfont.woff2") format("woff2"), url("../fonts/ttnorms-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'tt-norms';
  src: url("../fonts/ttnorms-regular-webfont.woff2") format("woff2"), url("../fonts/ttnorms-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'tt-norms', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 375px;
}

.container {
  max-width: 1320px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.header {
  padding-top: 28px;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.header__top {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.header__top-content {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-language-btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  width: 29px;
  height: 24px;
  color: #B3B3BA;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__top-language-btn.active-btn {
  background: #F0145A;
  border-radius: 8px;
  color: white;
}

.header__top-language-btn.active-btn:hover {
  background: #F0145A;
  border-radius: 8px;
  color: white;
}

.header__top-language-btn:hover {
  background: #EDEDF7;
  border-radius: 8px;
  width: 29px;
  height: 24px;
}

.header__top-phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #B3B3BA;
  cursor: pointer;
}

.header__top-phone:hover {
  color: #F0145A;
}

.header__top-img {
  width: 78px;
  height: 31px;
}

.header__top-hamburger-img {
  display: block;
  margin-left: auto;
}

.header__top-hamburger-img path {
  stroke: #FFFFFF;
}

.header__top-adress-block {
  display: none;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}

.header__top-adress-block::after {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  top: 7px;
  left: -20px;
}

.header__top-adress-block::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  top: 7px;
  right: 10px;
}

.header__top-link-fb-block {
  display: none;
}

.header__top-link-fb-block:hover path {
  fill: #FFFFFF;
}

.header__top-menu-block {
  display: none;
}

.header__top-menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-right: 15px;
}

.header__top-menu-link.current-page {
  text-decoration: underline;
}

.header__top-menu-link:hover {
  color: #F0145A;
}

.header__top-link-block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-link-crumb {
  text-decoration: none;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  padding-left: 12px;
}

.header__top-link-crumb-box {
  display: block;
}

.header__top-link-crumb-box::before {
  position: absolute;
  content: "";
  background: url(../img/slash-mobile.svg) no-repeat;
  width: 11px;
  height: 24px;
}

.header__top-link-crumb-box::after {
  position: absolute;
  content: "";
  background: url(../img/symbol-slash-mobile.svg) no-repeat;
  width: 21px;
  height: 25px;
}

@media (min-width: 767px) {
  .header__top {
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .header__top-hamburger-block {
    display: none;
  }
  .header__top-adress-block {
    display: block;
    padding-right: 30px;
  }
  .header__top-link-fb-block {
    display: block;
  }
  .header__top-menu-block {
    display: block;
    grid-column: 1 / -1;
  }
  .header__top-link-block-box {
    grid-column: 1 / -1;
  }
  .header__top-img {
    width: 155px;
    height: 62px;
  }
  .header__top-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__top-languages {
    padding-right: 30px;
  }
  .header__top-phone-block {
    padding-right: 30px;
    position: relative;
  }
  .header__top-phone-block::after {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background: #E6E6F0;
    border-radius: 50%;
    top: 7px;
    right: 11px;
  }
  .header__top-link-crumb {
    text-decoration: none;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
    padding-left: 15px;
  }
  .header__top-link-crumb-box {
    display: block;
  }
  .header__top-link-crumb-box::before {
    position: absolute;
    content: "";
    background: url(../img/slash.svg) no-repeat;
    width: 21px;
    height: 47px;
  }
  .header__top-link-crumb-box::after {
    position: absolute;
    content: "";
    background: url(../img/symbol-slash.svg) no-repeat;
    width: 41px;
    height: 49px;
  }
}

@media (min-width: 991px) {
  .header__top {
    grid-template-columns: -webkit-min-content 1fr auto;
    grid-template-columns: min-content 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 0;
  }
  .header__top-content {
    grid-column: 3 / -1;
  }
  .header__top-link-block-box {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }
  .header__top-menu-block {
    grid-column: 3 / -1;
    justify-self: flex-end;
  }
}

.header__bottom {
  background-image: url(../img/text-p.svg);
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-box-shadow: 0px -100px 20px -25px rgba(50, 50, 100, 0.9) inset;
          box-shadow: 0px -100px 20px -25px rgba(50, 50, 100, 0.9) inset;
  max-width: 375px;
  height: 436px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.header__bottom-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  max-width: 374px;
  padding-top: 37px;
  margin: 0 auto;
}

.header__bottom-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  opacity: 0.5;
  position: absolute;
  padding-top: 15px;
  padding-left: 10px;
  bottom: 20px;
  left: 45%;
  position: absolute;
}

.header__bottom-btn:hover {
  background-color: white;
}

.header__bottom-btn:hover .header__bottom-btn-svg path {
  stroke: black;
}

.header__bottom-btn:hover .header__bottom-btn-svg {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

@media (min-width: 767px) {
  .header__bottom {
    background-image: url(../img/text-p-2.svg), url(../img/background-image.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 0px -200px 20px -25px rgba(50, 50, 100, 0.5) inset;
            box-shadow: 0px -200px 20px -25px rgba(50, 50, 100, 0.5) inset;
    max-width: 689px;
    height: 644px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .header__bottom-title {
    max-width: 450px;
    padding-top: 125px;
  }
  .header__bottom-btn {
    bottom: 100px;
  }
}

.main__block-background-color {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 20px;
  position: relative;
}

.main__block-background-color::after {
  content: "";
  position: absolute;
  background: #CACADB;
  width: calc(100% - 40px);
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  bottom: -10px;
  left: 20px;
}

.main__block-background-color::before {
  content: "";
  position: absolute;
  background: #E7E7F2;
  width: calc(100% - 80px);
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  bottom: -20px;
  left: 40px;
}

.main__block-slider {
  padding-top: 40px;
}

.main__block-slider-h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.main__block-slider-h3 {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  padding-bottom: 15px;
  font-weight: 500;
}

.main__block-slider-p {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  padding-bottom: 20px;
  font-weight: 400;
}

.main__block-slider-buttons {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__block-slider-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24A3FF;
  opacity: 0.2;
  border: none;
  cursor: pointer;
  margin: 0 7px;
}

.main__block-slider-button.active {
  background: #24A3FF;
  opacity: 1;
}

.main__block-about {
  padding-top: 45px;
}

.main__block-about-title-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__block-about-title-link:hover .main__block-about-title-svg path {
  stroke: #F0145A;
}

.main__block-about-title-link:hover .main__block-about-title-svg g {
  opacity: 1;
}

.main__block-about-title-link-a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  text-transform: uppercase;
  padding-right: 2px;
}

.main__block-about-title-link-a:hover {
  color: #F0145A;
  opacity: 1;
}

.main__block-about-h2 {
  font-size: 32px;
  line-height: 38px;
  color: #F0145A;
  padding-top: 5px;
}

.main__block-about-us {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 40px;
}

.main__block-about-us-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__block-about-us-block-1-a {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #24A3FF;
  padding-left: 10px;
}

.main__block-about-us-block-2-p {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 10px;
}

.main__block-about-slider-2 {
  padding-top: 40px;
}

.main__block-team-slider-block {
  background: #F5F5FA;
  border-radius: 12px;
  margin: 40px 0 15px;
  padding: 20px 0 20px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
}

.main__block-team-slider-block-link {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.main__block-team-slider-block-link-a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.main__block-team-slider-block-link-a:hover {
  color: #F0145A;
}

.main__block-team-slider-block-link:hover .main__block-team-slider-link-svg path {
  stroke: #F0145A;
}

.main__block-team-slider-block-text {
  grid-column: 1 / -1;
}

.main__block-team-slider-block-text-p {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #F0145A;
}

.main__block-team-slider-block-buttons {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__block-team-slider-block-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24A3FF;
  opacity: 0.2;
  border: none;
  cursor: pointer;
  margin: 0 7px;
}

.main__block-team-slider-block-button.active {
  background: #24A3FF;
  opacity: 1;
}

.main__block-team-slider-block-person {
  padding-top: 10px;
}

.main__block-team-slider-block-person-img-large {
  display: none;
}

.main__block-team-slider-block-person-about {
  padding: 15px 0 0 10px;
}

.main__block-team-slider-block-person-about-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
}

.main__block-team-slider-block-person-about-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

@media (min-width: 767px) {
  .main__block-team-slider-block {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    padding: 0;
  }
  .main__block-team-slider-block-link {
    grid-column: 2 / 3;
    padding-top: 40px;
  }
  .main__block-team-slider-block-text {
    grid-column: 2 / 3;
  }
  .main__block-team-slider-block-person-about {
    grid-column: 2 / 3;
  }
  .main__block-team-slider-block-person {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding-top: 0;
  }
  .main__block-team-slider-block-person-img-large {
    display: block;
    padding-top: 0;
    border-radius: 12px 0px 0px 12px;
    max-width: 100%;
  }
  .main__block-team-slider-block-person-img-little {
    display: none;
  }
  .main__block-team-slider-block-person-about {
    padding-left: 0;
  }
}

.main__block-examples {
  padding-top: 30px;
  padding-bottom: 100px;
}

.main__block-examples-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main__block-examples-link {
  text-decoration: none;
  display: block;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  padding: 20px;
}

.main__block-examples-link:first-child {
  border-radius: 12px 12px 0px 0px;
}

.main__block-examples-link:last-child {
  border-radius: 0px 0px 12px 12px;
}

.main__block-examples-link:hover {
  background: #EDEDF7;
}

.main__block-examples-link-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #686887;
}

.main__block-examples-link-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  padding-top: 10px;
}

@media (min-width: 767px) {
  .main__block-examples-links {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .main__block-examples-link:first-child {
    border-radius: 12px 0px 0px 0px;
  }
  .main__block-examples-link:nth-child(2) {
    border-radius: 0px 12px 0px 0px;
  }
  .main__block-examples-link:nth-child(5) {
    border-radius: 0px 0px 0px 12px;
  }
  .main__block-examples-link:last-child {
    border-radius: 0px 0px 12px 0px;
  }
}

@media (min-width: 991px) {
  .main__block-examples-links {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main__block-examples-link:nth-child(2) {
    border-radius: 0px 0px 0px 0px;
  }
  .main__block-examples-link:nth-child(5) {
    border-radius: 0px 0px 0px 0px;
  }
  .main__block-examples-link:first-child {
    border-radius: 12px 0px 0px 0px;
  }
  .main__block-examples-link:nth-child(3) {
    border-radius: 0px 12px 0px 0px;
  }
  .main__block-examples-link:nth-child(4) {
    border-radius: 0px 0px 0px 12px;
  }
  .main__block-examples-link:last-child {
    border-radius: 0px 0px 12px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
