:root {
    --white: #FFFFFF;
    --white2: #E6E6F0;
    --white3: #EDEDF7;
    --white4: #F5F5FA;
    --white5: #E7E7F2;
    --grey: #B3B3BA;
    --grey2: #CACADB;
    --gray: #808080;
    --red: #F0145A;
    --darkblue: rgba(50, 50, 100, 0.5);
    --darkblue2: rgba(50, 50, 100, 0.9);
    --darkblue3: #686887;
    --darkblue4: rgba(36, 163, 255, 0.5);
    --darkblue5: #46466E;
    --darkblue6: rgba(40, 40, 86, 0.8);
    --black: #000000;
    --blue: #24A3FF;
    --blue2: #0085FF;
    --gradient: #323264;
    --gradient2: #643E72;
    --blockbackground1: #1C4280;
    --blockbackground2: #143646;
    --blockbackground3: #F48B30;
    --blockbackground4: #9E4DC3;
    --blockbackground5: #FD9339;
    --blockbackground6: #E2E2E4;
    --blockbackground7: #C71C36;
    --blockbackground8: #DCF3F9;
    --blockbackground9: #EAEAEA;
    --blockbackground10: #282240;
    --blockbackground11: #1D4568;
    --blockbackground12:#000000;
}